<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/material.min.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% block subBody %}{% endblock %}
        {% block footer %}
            <footer class="mdl-mega-footer">
                <div class="mdl-mega-footer--middle-section">
                    <div class="mdl-mega-footer__drop-down-section">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading">Social</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li><a href="#">Linkedin</a> </li>
                        </ul>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/material.min.js')}}"></script>
    </body>
</html>
